@import "tailwindcss";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-ui/css/neutral.css";
@import "@fuma-comment/react/preset.css";
@import "@daveyplate/better-auth-ui/css";

@plugin "tailwindcss-animate";
@plugin "tailwind-scrollbar";

@custom-variant dark (&:is(.dark *));

@source "../../node_modules/fumadocs-ui/dist/**/*.js";
@source "../../node_modules/@fuma-comment/react/dist/**/*.js";

@theme {
  --color-background: var(--color-fd-background);
  --color-foreground: var(--color-fd-foreground);

  --color-card: var(--color-fd-card);
  --color-card-foreground: var(--color-fd-card-foreground);

  --color-popover: var(--color-fd-popover);
  --color-popover-foreground: var(--color-fd-popover-foreground);

  --color-primary: var(--color-fd-primary);
  --color-primary-foreground: var(--color-fd-primary-foreground);

  --color-secondary: var(--color-fd-secondary);
  --color-secondary-foreground: var(--color-fd-secondary-foreground);

  --color-muted: var(--color-fd-muted);
  --color-muted-foreground: var(--color-fd-muted-foreground);

  --color-accent: var(--color-fd-accent);
  --color-accent-foreground: var(--color-fd-accent-foreground);

  /* --color-destructive: var(--color-fd-destructive);
  --color-destructive-foreground: var(--color-fd-destructive-foreground); */
  --color-destructive: hsl(0 84.2% 60.2%);
  --color-destructive-foreground: hsl(0 0% 98%);

  --color-border: var(--color-fd-border);
  --color-input: var(--color-fd-border);
  --color-ring: var(--color-fd-ring);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  /* fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* accordion */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: 0;
    }
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
    --typography-hero-width: 56rem;
    --typography-title-width: 40rem;
    --typography-body-width: 60ch;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply scroll-smooth accent-primary scrollbar-thin scrollbar-track-transparent scrollbar-thumb-border dark:scrollbar-track-transparent;
  }
}

@theme {
  --color-fd-primary-foreground: hsl(0, 0%, 98%);
  --color-fd-primary: hsl(226, 55%, 45%);
  --color-fd-ring: hsl(0, 0%, 63.9%);
}

.dark {
  --color-fd-ring: hsl(234, 100%, 83%);
  --color-fd-primary: hsl(234, 100%, 83%);
  --color-fd-primary-foreground: hsl(240, 7%, 11%);
}

@layer base {
  a {
    @apply [overflow-wrap:anywhere] decoration-wavy;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 0rem;

  @apply 2xl:max-w-[1400px];
}

@layer utilities {
  .bg-dashed {
    background-image: linear-gradient(
      45deg,
      var(--color-border) 12.50%,
      transparent 12.50%,
      transparent 50%,
      var(--color-border) 50%,
      var(--color-border) 62.50%,
      transparent 62.50%,
      transparent 100%
    );
    background-size: 0.25rem 0.25rem;
  }

  .border-border {
    @apply border-border/70 dark:border-border;
  }

  .divide-border {
    @apply divide-border/70 dark:divide-border;
  }

  .typography-hero {
    max-width: var(--typography-hero-width);
  }

  .typography-title {
    max-width: var(--typography-title-width);
  }

  .typography-body {
    max-width: var(--typography-body-width);
  }
}

@layer components {
  .footer {
    --footer-text-size: clamp(3rem, 14rem, 14vw);

    display: flex;
    justify-content: center;
    color: var(--color-muted-foreground);
    position: relative;
    overflow: clip;
    min-height: var(--footer-text-size);
  }

  .footer-text {
    text-rendering: geometricPrecision;
    font-weight: 900;
    font-size: var(--footer-text-size);
    letter-spacing: 0;
    opacity: 0.3;
    position: absolute;
    bottom: calc(-1 * var(--footer-text-size) / 1.6);
  }

  .footer-grid {
    background-color: transparent;
    background-image: radial-gradient(transparent 1px, rgb(255, 255, 255) 1px);
    background-size: 4px 4px;
    backdrop-filter: blur(3px);
    mask: linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 255, 255, 0.6) 100%
    );
    opacity: 1;
    position: absolute;
    inset: 0;
    overflow: visible;
    z-index: 1;
    flex: none;
  }

  .footer-gradient {
    position: absolute;
    inset: 0;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0) 0% 50%,
      rgba(255, 255, 255, 0.5) 100%
    );
  }

  .dark .footer-gradient {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0) 0% 50%,
      rgba(0, 0, 0, 0.5) 100%
    );
  }

  .dark .footer-grid {
    background-image: radial-gradient(transparent 1px, rgb(0, 0, 0) 1px);
    mask: linear-gradient(rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0, 0.6) 100%);
  }
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-foreground);
}

.dark ::selection {
  background-color: var(--color-accent);
  color: var(--color-foreground);
}

.dark [data-hide-on-theme="dark"],
.light [data-hide-on-theme="light"] {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  ::view-transition-new(theme-transition) {
    clip-path: inset(0 0 100% 0);
    animation: slide-in-from-top 0.65s forwards cubic-bezier(0.65, 0, 0.35, 1);
  }

  ::view-transition-old(theme-transition) {
    animation: none;
  }

  @keyframes slide-in-from-top {
    to {
      clip-path: inset(0 0 0 0);
    }
  }

  @keyframes reveal {
    0% {
      scale: 0.8;
      opacity: 0;
      translate: 0 4lh;
      filter: blur(20px);
    }
  }

  ::view-transition-new(.page-enter):only-child {
    animation-name: reveal;
  }

  ::view-transition-old(.page-exit):only-child {
    animation-name: reveal;
    animation-direction: reverse;
  }

  /* util for faster than default (250ms) transitions. Typically used to make exits faster so they don't visually overlap with enters */
  ::view-transition-group(.duration-100) {
    animation-duration: 100ms;
  }

  @keyframes via-blur {
    30% {
      filter: blur(8px);
    }
  }

  ::view-transition-image-pair(.via-blur) {
    animation-name: via-blur;
  }

  ::view-transition-old(.via-blur) {
    animation-duration: 180ms;
    animation-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }

  ::view-transition-new(.via-blur) {
    animation-duration: 350ms;
    animation-delay: 100ms;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }

  ::view-transition-group(.via-blur) {
    animation-duration: 450ms;
  }

  /* Prevent background color flash during transition */
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
  }
}
